{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="{% static '../static/chunkit/css/aboutUs.css' %}" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <header class="pl-5 container-fluid shadow">
      <nav class="navbar navbar-expand-md container justify-content-around">
        <a class="navbar-brand font-weight-bolder pr-5" href="../templates/html/landing.html"
          ><img src="../static/chunkit/images/logo.jpeg" alt="chunk-it logo"
        /></a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#collapse_target"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-around p-4"
          id="collapse_target"
        >
          <ul class="navbar-nav">
            <li class="nav-item px-4">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="#">Doumentation</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="#">Contact us</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item p-2">
              <a class="login" href="#">Login</a>
            </li>
            <li class="nav-item p-2">
              <a class="signup" href="#">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <section class="d-flex justify-content-around row">
        <div class="col-md-6 p-5">
          <h3><b>About us</b></h3>
          <p>
            Chunk IT is a platform that enables authenticated user to upload
            large CSV and JSON files and break them into smaller CHUNKS after
            the users have uploaded. This platform also allows users upload and
            chunk other file formats such as HTML, XLS and HTM. We offer our
            users secure access and at the conclusion of each conversion, you
            have the option of deleting the document yourself. We won't copy,
            inspect, or otherwise examine your files. We make sure users can
            effortlessly and securely convert.
          </p>
        </div>
        <div class="col-md-6 pl-5 p-5">
          <img class="aboutUsImg" src="{% static '../static/chunkit/images/aboutUs.png' %}" alt="" />
        </div>
      </section>
      <section class="d-flex justify-content-around row">
        <div class="col-md-6 p-5">
          <img class="aboutUsImg2" src="{% static '../static/chunkit/images/flyingMan.png' %}" alt="" />
        </div>
        <div class="col-md-6 p-5 my-5">
          <h3><b>Our Mission</b></h3>
          <p>
            Chunk IT is a platform that enables authenticated user to upload
            large CSV and JSON files and break them into smaller CHUNKS after
            the users have uploaded. This platform also allows users upload and
            chunk other file formats such as HTML, XLS and HTM. We offer our
            users secure access and at the conclusion of each conversion, you
            have the option of deleting the document yourself. We won't copy,
            inspect, or otherwise examine your files. We make sure users can
            effortlessly and securely convert.
          </p>
        </div>
      </section>
      <section class="text-center">
        <h3><b>Our Team</b></h3>
        <p>
          We are a group of individuals who take pride in providing cutting-edge
          digital soltions to customer challenges.
        </p>
      </section>
      <!-- Carousel -->
      <section class="carousel">
        <div class="container">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdAdebayoOluwafemi.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Adebayo Oluwafemi</h4>
                    <p>Product Designer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdOladayoOyelowo.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Oladayo Oyelowo</h4>
                    <p>Product Designer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdEdithEkwealor.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Edith Ekwealor</h4>
                    <p>Product Designer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/fdBelloOladimeji.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Bello Oladimeji</h4>
                    <p>Frontend Developer</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item text-center">
                <div class="row">
                  <div class="col-lg-3">
                    <img
                      src="{% static '../static/chunkit/images/BdSakaHabeebah.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Saka Habibat</h4>
                    <p>Backend Developer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdIgogoriKevwe.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Igogori Kevwe</h4>
                    <p>Product Design</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdFeranmiArowoduye.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Feranmi Arowoduye</h4>
                    <p>Product Designer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdElizabethAdaoma.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Elizabeth Adaoma</h4>
                    <p>Product Designer</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/FtBienvenuGbeti.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h3>Bienvenu Gbeti</h3>
                    <p>Fullstack Developer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdEdidiongAsuquo.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Edidiong Asuquo</h4>
                    <p>Product Designer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdMusthapaZainab.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Musthapa Zainab</h4>
                    <p>Product Designer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdEuniceDavid.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Eunice David</h4>
                    <p>Product Designer</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/FdAlaminSowemimo.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h3>Alamin Sowemimo</h3>
                    <p>Frontend Developer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdAnthonyBalogun.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Anthony Balogun</h4>
                    <p>Product Designer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/ftEmmanuelSalako.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Emmanuel Salako</h4>
                    <p>Frontend Developer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdJameshiedozie.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>James Chiedozie</h4>
                    <p>Product Designer</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/PdOlawuniOladayo.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h3>Olawuni Oladayo</h3>
                    <p>Product Designer</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <img
                      src="{% static '../static/chunkit/images/BdCalvinMwangi.jpg' %}"
                      class="d-block w-100"
                      alt="..."
                    />
                    <h4>Calvin Mwangi</h4>
                    <p>Backend Developer</p>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-target="#carouselExampleControls"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-target="#carouselExampleControls"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
        </div>
      </section>
      <!-- Carousel / -->
    </main>

    <footer class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="accordion w-100 d-lg-flex" id="accordion">
                <div class="col-lg col-md-12 py-4 mr-5">
                  <a
                    href="#one"
                    class="nav-link p-0 d-block d-lg-none d-xl-none font-weight-bold"
                    style="font-size: 25px"
                    data-toggle="collapse"
                    >CHUNK-IT</a
                  >
                  <div
                    class="d-none d-lg-block d-xl-block font-weight-bold py-2"
                    style="font-size: 25px"
                  >
                    CHUNK-IT
                  </div>
                  <p>
                    A platform to enable authenticated users upload large CSV
                    and JSON files and break them into smaller CHUNKs after the
                    user have uploaded at an amazing speed.
                  </p>
                </div>

                <div class="col-lg col-md-12 py-4">
                  <a
                    href="#two"
                    class="nav-link p-0 d-block d-lg-none d-xl-none font-weight-bold"
                    style="font-size: 25px"
                    data-toggle="collapse"
                    >Company</a
                  >
                  <div
                    class="d-none d-lg-block d-xl-block font-weight-bold"
                    style="font-size: 25px"
                  >
                    Company
                  </div>
                  <ul
                    class="collapse d-lg-block p-0 py-3"
                    id="two"
                    data-parent="#accordion"
                  >
                    <li class="py-2">
                      <a class="nav-link p-0" href="#">About us</a>
                    </li>
                    <li class="py-2">
                      <a class="nav-link p-0" href="#">Terms of use</a>
                    </li>
                    <li class="py-2">
                      <a class="nav-link p-0" href="#">Privacy policies</a>
                    </li>
                  </ul>
                </div>

                <div class="col-lg col-md-12 py-4">
                  <a
                    href="#three"
                    class="nav-link p-0 d-block d-lg-none d-xl-none font-weight-bold"
                    style="font-size: 25px"
                    data-toggle="collapse"
                    >Resources</a
                  >
                  <div
                    class="d-none d-lg-block d-xl-block font-weight-bold"
                    style="font-size: 25px"
                  >
                    Resources
                  </div>
                  <ul
                    class="collapse d-lg-block p-0 py-3"
                    id="three"
                    data-parent="#accordion"
                  >
                    <li class="py-2">
                      <a class="nav-link p-0" href="#">Terms and conditions</a>
                    </li>
                    <li class="py-2">
                      <a class="nav-link p-0" href="#">Csv and Json</a>
                    </li>
                    <li class="py-2">
                      <a class="nav-link p-0" href="#">How to split</a>
                    </li>
                  </ul>
                </div>

                <div class="col-lg col-md-12 py-4">
                  <a
                    href="#four"
                    class="nav-link p-0 d-block d-lg-none d-xl-none font-weight-bold"
                    style="font-size: 25px"
                    data-toggle="collapse"
                    >Help</a
                  >
                  <div
                    class="d-none d-lg-block d-xl-block font-weight-bold"
                    style="font-size: 25px"
                  >
                    Help
                  </div>
                  <ul
                    class="collapse d-lg-block p-0 py-3"
                    id="four"
                    data-parent="#accordion"
                  >
                    <li class="py-2">
                      <a class="nav-link p-0" href="#">Contact us</a>
                    </li>
                    <li class="py-2">
                      <a class="nav-link p-0" href="#">FAQs</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-line text-center py-3">All rights reserved 2022</div>
    </footer>
  </body>
</html>
