{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static '../static/chunkit/css/dashboard.css'%}" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row min-vh-100 flex-column flex-md-row">
        <!-- Side-Nav -->
        <aside class="side-bar col-12 col-md-3 col-xl-2 p-0 shadow">
          <nav
            class="navbar navbar-expand-md flex-md-column flex-row align-items-center py-2 text-center sticky-top"
            id="sidebar"
          >
            <div class="text-center p-3">
              <a href=""
                ><img
                  src="{% static '../static/chunkit/images/logo.jpeg'%}"
                  alt="chunkit-logo"
                  class="img-fluid my-2 p-1 logo"
                />
              </a>
              <!-- <a href="#" class="navbar-brand mx-0 font-weight-bold text-nowrap"
                >XcentPupil</a
              > -->
            </div>
            <button
              type="button"
              class="navbar-toggler border-0 order-1"
              data-toggle="collapse"
              data-target="#nav"
              aria-controls="nav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse order-last" id="nav">
              <ul
                class="navbar-nav flex-column w-100 justify-content-center pt-5"
              >
                <li class="nav-item my-xl-1 my-md-1">
                  <a href="#" class="nav-link active"> Dashboard</a>
                </li>
                <li class="nav-item my-xl-1 my-md-1">
                  <a href="#" class="nav-link"> Saved Files</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"> Settings </a>
                </li>
                <li class="nav-item profile-pic">
                  <img
                    src="{% static '../static/chunkit/images/BdSakaHabeebah.jpg'%}"
                    alt="profile picture"
                    class="img-fluid rounded-circle my-4 ml-5 p-1 d-none d-md-block shadow"
                  />
                  <p>Saka Habeebah</p>
                  <p>sakahabeebah@gmail.com</p>
                </li>
              </ul>
            </div>
          </nav>
        </aside>
        <!-- right-side -->
        <div class="col-md-9 col-xl-10 p-0">
          <header class="py-4 container">
            <section class="row d-flex justify-content-between">
              <div class="col-lg my-2">
                <h2><b>Dashboard</b></h2>
                <p>Welcome, Habeebah</p>
              </div>
              <div class="col-lg my-2">
                <input
                  class="search-something shadow p-3 mx-3"
                  type="text"
                  name=""
                  id=""
                  placeholder="   Search something..."
                />
              </div>
              <div class="col-lg d-flex my-2">
                <a href="#"
                  ><i class="fa fa-bell px-2 py-1 settings-icons"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-sign-out px-2 py-1 settings-icons"></i
                ></a>
              </div>
            </section>
          </header>
          <main>
            <div class="container">
              <div class="row container">
                <div class="col-md-6 col-lg-8">
                  <div class="shadow text-center box my-2">
                    <div class="py-3">
                      <h2>Upload your File</h2>
                      <p class="exp">CSV, JSON, XML,HTML are allowed</p>
                      <div class="py-3 px-3">
                        <input class="border" type="file" class="" id="" />
                        <label class="" for=""></label>
                      </div>
                    </div>
                  </div>
                  <div class="shadow text-center box my-2 py-3">
                    <h2>Customize Settings</h2>
                    <p class="exp">
                      Choose the output chunk size or value that you want.
                    </p>
                    <div>
                      <span class="pr-3"
                        ><label class="px-5" for="split"
                          >Split by number of chunks</label
                        >
                        <input type="radio" name="split" id="split"
                      /></span>
                      <span
                        ><label for="split">Split by chunk size</label>
                        <input type="radio" name="split" id="split"
                      /></span>
                    </div>
                    <div class="row py-4">
                      <span
                        ><label class="row mx-3 px-3" for="noOfRows"
                          >Number of rows</label
                        >
                        <br />
                        <input class="row mx-3 px-" type="number" />
                      </span>
                      <span
                        ><label class="row mx-3" for="chunkSize"
                          >Chunk size</label
                        >
                        <br />
                        <input class="row mx-3" type="number" />
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 shadow p-3 my-files">
                  <h3>My files</h3>
                  <p class="exp">Files will be downloaded to your device.</p>
                </div>
              </div>
              <div class="row container my-3">
                <div class="col-md-6 col-lg-8 p-3 shadow box">
                  <div class="p-3">
                    <h3>Conversion History</h3>
                    <div class="history"></div>
                  </div>
                </div>
                <div class="col-md-6 p-3 col-lg-4 shadow box">
                  <div class="p-3">
                    <h3>Statistics</h3>
                    <div class="history a"></div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
