{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Chunk IT</title>
    <link
      rel="stylesheet"
      href="{% static '../static/chunkit/css/login.css'%}"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header class="pl-5 container-fluid shadow">
      <nav class="navbar navbar-expand-md container justify-content-around">
        <a
          class="navbar-brand font-weight-bolder pr-5"
          href="{% static '../templates/html/landing.html'%}"
          ><img
            src="{% static '../static/chunkit/images/logo.jpeg'%}"
            alt="chunk-it logo"
        /></a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#collapse_target"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-around p-4"
          id="collapse_target"
        >
          <ul class="navbar-nav">
            <li class="nav-item px-4">
              <a
                class="nav-link"
                href="{% static '../templates/html/aboutUs.html'%}"
                >About us</a
              >
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="{% url 'chunkit:disclaimer'%}"
                >Doumentation</a
              >
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="{% url 'chunkit:contactUs'%}"
                >Contact us</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="row">
        <div class="form col-md-6">
          <div class="py-5">
            <h2><b>Login To Your Account</b></h2>
            <a href="{% static '../templates/html/SignUp.html'%}"
              >Don't have an account? Sign up</a
            >
          </div>
          <div>
            <form action="login" method="POST">
              {% csrf_token %}
              <div>
                <label for="email"> Email Address </label><br />
                <input class="email" type="email" name="username" /><br />
              </div>
              <div class="my-3">
                <label for="password"> Password</label><br />
                <input class="password" type="password" name="password" />
              </div>
              <div class="my-3">
                <input class="" type="checkbox" value="" id="" />
                <label class="pl-2 pr-5" for="form-check" name="form-check">
                  Remember me
                </label>
                <a class="pl-5" href="../html/forgotpass.html"
                  >Forgot Password?</a
                >
              </div>
              <div class="text-center log my-4">
                <input class="bg-primary text-white px-5" type="submit" />
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 d-none d-md-block my-5">
          <img
            class="login-img"
            src="{% static '../static/chunkit/images/login.png'%}"
            alt=""
          />
        </div>
      </div>
    </main>

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
