<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/savedFiles.css" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row min-vh-100 flex-column flex-md-row">
        <!-- Side-Nav -->
        <aside class="side-bar col-12 col-md-3 col-xl-2 p-0 shadow">
          <nav
            class="navbar navbar-expand-md flex-md-column flex-row align-items-center py-2 text-center sticky-top"
            id="sidebar"
          >
            <div class="text-center p-3">
              <a href="./dashboard.html"
                ><img
                  src="../images/logo.jpeg"
                  alt="chunkit-logo"
                  class="img-fluid my-2 p-1 logo"
                />
              </a>
              <!-- <a href="#" class="navbar-brand mx-0 font-weight-bold text-nowrap"
                >XcentPupil</a
              > -->
            </div>
            <button
              type="button"
              class="navbar-toggler border-0 order-1"
              data-toggle="collapse"
              data-target="#nav"
              aria-controls="nav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse order-last" id="nav">
              <ul
                class="navbar-nav flex-column w-100 justify-content-center pt-5"
              >
                <li class="nav-item my-xl-1 my-md-1">
                  <a href="./dashboard.html" class="nav-link active">
                    Dashboard</a
                  >
                </li>
                <li class="nav-item my-xl-1 my-md-1">
                  <a href="./savedFiles.html" class="nav-link"> Saved Files</a>
                </li>
                <li class="nav-item">
                  <a href="./settings.html" class="nav-link"> Settings </a>
                </li>
                <li class="nav-item profile-pic">
                  <img
                    src="../images/BdSakaHabeebah.jpg"
                    alt="profile picture"
                    class="img-fluid rounded-circle my-4 ml-5 p-1 d-none d-md-block shadow"
                  />
                  <p>Saka Habeebah</p>
                  <p>sakahabeebah@gmail.com</p>
                </li>
              </ul>
            </div>
          </nav>
        </aside>
        <!-- right-side -->
        <div class="col-md-9 col-xl-10 p-0">
          <header class="py-4 container">
            <section class="row d-flex justify-content-between">
              <div class="col-lg my-2">
                <h2><b>Saved Files</b></h2>
              </div>
              <div class="col-lg my-2">
                <input
                  class="search-something shadow p-3 mx-3"
                  type="text"
                  name=""
                  id=""
                  placeholder="   Search something..."
                />
              </div>
              <div class="col-lg d-flex my-2">
                <a href="#"
                  ><i class="fa fa-bell px-2 py-1 settings-icons"></i
                ></a>
                <a href="./dashboard.html"
                  ><i class="fa fa-sign-out px-2 py-1 settings-icons"></i
                ></a>
              </div>
            </section>
          </header>
          <main class="container">
            <section class="shadow py-3 m-4">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Date</th>
                    <th scope="col">File Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td class="py-4"></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td class="py-4"></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td class="py-4"></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td class="py-4"></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td class="py-4"></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </section>
            <section class="container p-3 py-5 m-4 shadow">
              <div class="row">
                <div class="col-md-8 text-center">
                  <h3>Share your project</h3>
                  <p class="pb-5 exp">
                    <b> Share your projexts with your colleague.</b>
                  </p>
                  <label for="project-name"><b>Proect Name</b></label
                  ><br />
                  <input
                    class="border w-50"
                    type="file"
                    name="project-name"
                    id="project-name"
                  /><br />
                  <label class="py-2" for="share"><b>Share via mail</b></label
                  ><br />
                  <input
                    type="email"
                    name="share"
                    class="w-50 px-3"
                    placeholder="Enter mail address"
                  />
                </div>
                <div class="d-md-block d-none">
                  <img
                    class="shareImg a"
                    src="../images/undraw_done_re_oak4-2 1.png"
                    alt=""
                  />
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
    </div>
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
