<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set New Password - Chunk - IT</title>
    <link rel="stylesheet" href="../css/setnewpass.css" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <header class="pl-5 container-fluid shadow">
      <nav class="navbar navbar-expand-md container justify-content-around">
        <a class="navbar-brand font-weight-bolder pr-5" href="./landing.html"
          ><img src="../images/logo.jpeg" alt="chunk-it logo"
        /></a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#collapse_target"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-around p-4"
          id="collapse_target"
        >
          <ul class="navbar-nav">
            <li class="nav-item px-4">
              <a class="nav-link" href="./aboutUs.html">About us</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="./disclaimer.html">Doumentation</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="./contactUs.html"> Contact us </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="setpass py-5">
        <strong>
          <h2 id="forget">Set New Password?</h2>
        </strong>
        <h6 id="newpss">
          Your new password must be different from previously used passwords.
        </h6>

        <label for="pass">Password</label><br />
        <input
          type="password"
          id="pass"
          name="password"
          placeholder="********"
          minlength="8"
        /><br /><br />

        <label for="pass">Confirm Password</label><br />
        <input
          type="password"
          id="pass"
          name="password"
          placeholder="********"
          minlength="8"
        /><br /><br />

        <input
          type="submit"
          value="Reset Password"
          formaction="/register-sucess.html"
        /><br /><br />

        <a href="./login.html">Back to login Page</a>
      </div>
    </main>

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
