@import url(../fontawesome-free-6.2.0-web/css/all.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}
body {
  background-color: #ffffff !important;
  /* color: #2a3362 !important; */
  color: black;
  /* font-family: "Encode Sans Semi Condensed", sans-serif !important; */
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}

/* UNAUTHENTICATED NAVBAR START */

nav {
  list-style: none;
}
nav img {
  width: 80px;
  height: 80px;
}

nav a {
  color: black;
  text-decoration: none !important;
}
ul {
  padding-left: 30px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 150px;
}
.decline {
  padding: 10px 40px;
  background-color: rgb(221, 219, 219);
  color: black;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.accept {
  padding: 10px 40px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.accept:hover {
  background-color: #7c74db;
  color: #000000;
}
.decline:hover {
  background-color: #3127a7;
  color: #ffffff;
}
.login {
  padding: 10px 40px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.signup {
  padding: 10px 40px;
  background-color: #3127a7;
  color: white;
  border-radius: 10px;
  transition-duration: 0.4s;
}
/* UNAUTHENTICATED NAVBAR END */

.aboutUsImg {
  height: 300px;
  width: 300px;
}
.aboutUsImg2 {
  height: 450px;
  width: 450px;
}

footer {
  background-color: #3127a7;
  color: white;
}
footer a {
  color: rgb(194, 192, 192);
}
footer li {
  list-style: none;
}

.footer-line {
  height: 10px;
  width: 100%;
  border-top: 2px solid yellow;
}

/* CAROUSEL */
.carousel-item img {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* CAROUSEL / */
