@import url(../static/chunkit/fontawesome-free-6.2.0-web/css/all.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}
body {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: "Encode Sans Semi Condensed", sans-serif !important;
  overflow-x: hidden;
}

/* UNAUTHENTICATED NAVBAR START */

nav {
  list-style: none;
}
nav img {
  width: 80px;
  height: 80px;
}

nav a {
  color: black;
  text-decoration: none !important;
}
ul {
  padding-left: 30px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 150px;
}
.decline {
  padding: 10px 40px;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  border: 2px solid #3127A7
}
.accept {
  padding: 10px 40px;
  background-color: #3127A7;
  color: white;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.accept {
  transition-duration: 0.4s;
}
.accept:hover {
  background-color: #7C74DB;
  color: #ffffff
}
.decline {
  transition-duration: 0.4s;
}
.decline:hover {
  background-color: #3127A7;
  color: #000000
}